name: Build container
on: 
  pull_request: 
    branches: 
      - '**'

jobs:
  build_container:
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: ghcr.io/t0tproduction/selfhosted-api-trader-game-main-pr

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Enter backend directory
        run: cd ./backend
      - name: Build containers
        run: docker compose build